@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

.itemDetail-ctn{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    display: flex;
    text-align: left;
    width: 90%;
    margin: auto;
    font-family: 'Shippori Antique B1', sans-serif;
}
.imagen{
    width: 30%;
}
.imagen img{
    width: 100%;
}
.detalles{
    margin-left: 20px;
    width: 40%;
    margin: auto;
    margin-top: 40px;
}
.detalles h4{
    font-size: 2.2em;
    margin-bottom: 0;
    padding-left: 30px;
}
.detalles h6{
    font-size: 1em;
    padding-left: 30px;
}
.detalles p{
    font-size: 1.3em;
    margin-bottom: 0;
    padding-left: 30px;
}
.detalles h5{
    font-size: 2em;
    margin-bottom: 0;
    padding-left: 30px;
}
.detalles span{
    font-size: 2em;
    padding-left: 30px;
}
.agregar-carrito{
    background-color: rgb(0, 140, 255);
    color: white;
    display: block;
    margin: auto;
    width: 250px;
    padding: 10px;
    border-radius: 18px;
    font-size: 1.2em;
    border: none;
    margin-top: 50px;
    transition: all 500ms ease;
    text-align: center;
}
.agregar-carrito:hover{
    transform: scale(1.1);
}
.botones{
    width: 30%;
    padding-top: 200px;
}
