@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

.item-ctn{
    text-align: left;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 250px;
    height: 500px;
    overflow: hidden;
}

.item-ctn img{
    height: 250px;
    width: 100%;
}

.item-ctn:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.txt-ctn{
    padding: 10px;
    font-family: 'Shippori Antique B1', sans-serif;
    width: 100%;
    height: 100%;
}

.item-ctn h4{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

.item-ctn p{
    font-size: 1em;
    margin: 0;
    width: 90%;
    height: 70px;
}

.item-ctn h5{
    font-size: 1.2em;
    margin: 0;
    margin-top: 20px;
}

.ver-mas{
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    display: block;
    margin-left: 55px;
    margin-top: 30px;
    width: 100px;
    text-align: center;
    font-weight: 300;
}